body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 60px auto;
    width: 50%;
    font-family: 'Alegrya', serif;
    font-weight: 200;
    background-color: #F9F7F7;
}
nav ul, footer ul {
    display: flex;
    padding: 0px;
    list-style: none;

}
nav ul li, footer ul li {
    display: flex;
    height: 5vh;
    margin-right: 40px;
    align-items: center;

}

nav ul li img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: rgb(99, 119, 128);
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #112D4E;
    color: #3F72AF;
}

strong {
    font-size: larger;
}

h1 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: 0.05em;
}

h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 0.05em;
    line-height: 45px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 4px double #3F72AF;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
    flex:1; /* remove this to not push footer to bottom */
}

.source {
    font-size: xx-small;
}

.smallText {
    text-align: center;
    font-size: x-small;
    letter-spacing: 0.05em;
}

.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
    font-size: 1.3em;
}