<!DOCTYPE html>
<html lang="en">
	
	{% include header.html %}

	<body>
		<nav>
			<ul>
				<li><strong>Jay Orten</strong></li>
	        	<li><a href="{{ site.baseurl }}/">Home</a></li>
		        <li><a href="{{ site.baseurl }}/CV">CV</a></li>
	    		<li><a href="{{ site.baseurl }}/blog">Research+Projects</a></li>
			</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:jay.orten@gmail.com" target="_blank"><img src="{{ site.baseurl }}/assets/images/envelope-solid-24.png"></a></li>
				<li><a href="https://www.linkedin.com/in/jayorten/ target="_blank""><img src="{{ site.baseurl }}/assets/images/linkedin-square-logo-24.png" /></a></li>
				<li><a href="https://github.com/jayorten target="_blank""><img src="{{ site.baseurl }}/assets/images/github-logo-24.png" /></a></li>
			</ul>
		</footer>
	</body>
</html>
