<!DOCTYPE html>
<html lang="en">

	{% include header.html %}

	<body>
		<nav>
			<ul>
				<li><strong><img src="{{ site.baseurl }}/assets/images/logo.svg" alt="Logo" class="nav-logo"> Jay Orten</strong></li>
	        	<li><a href="{{ site.baseurl }}/"><i class="fa-solid fa-house"></i> Home</a></li>
	    		<li><a href="{{ site.baseurl }}/blog"><i class="fa-solid fa-flask"></i> Research</a></li>
	    		<li><a href="{{ site.baseurl }}/reviews"><i class="fa-solid fa-star"></i> Reviews</a></li>
			</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:jay.orten@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
				<li><a href="https://www.linkedin.com/in/jayorten/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
				<li><a href="https://github.com/jayorten/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
			</ul>
		</footer>
		<script src="{{ site.baseurl }}/js/fun.js"></script>
	</body>
</html>
