<!DOCTYPE html>
<html lang="en">
	
	{% include header.html %}

	<body>
		<nav>
			<ul>
				<li><img src="{{ site.baseurl }}/assets/images/icons8-kawaii-bread-48.png"></li>
	        	<li><a href="{{ site.baseurl }}/">Home</a></li>
		        <li><a href="{{ site.baseurl }}/about">About</a></li>
	    		<li><a href="{{ site.baseurl }}/blog">Projects</a></li>
			</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
	    	<ul>
				<li><a href="mailto:jay.orten@gmail.com"><img src="{{ site.baseurl }}/assets/images/envelope-solid-24.png"></a></li>
	        	<li><a href="https://github.com/jayorten"><img src="{{ site.baseurl }}/assets/images/github-logo-24.png"/></a></li>
				<li><a href="https://www.linkedin.com/in/jayorten/"><img src="{{ site.baseurl }}/assets/images/linkedin-square-logo-24.png"/></a></li>
			</ul>
			<div class="source">
				<a href="https://icons8.com/icon/119927/kawaii-bread">Kawaii Bread icon by Icons8</a>
			</div>
		</footer>
	</body>
</html>
